<div style="padding-left: 120px;padding-top: 120px; padding-left: 15px;">
    <h1>Add Author</h1>
    <form [formGroup]="authorForm" (ngSubmit)="saveAuthor()">
        <div>
            <label>Name </label>
            <input type="text" formControlName="name" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>BirthDate </label>
            <input type="date" formControlName="birthDate" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Nationality </label>
            <input type="text" formControlName="nationality" style="padding: 10px; margin: 10px">
        </div>

        <div *ngIf="authorForm.valid">
            <input type="submit" value="Save Author" class = "btn" style="padding: 10px; margin: 10px">
        </div>
    </form>
</div>
<h3> Form status: {{authorForm.valid}}</h3>


