<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/changePasswordStyle.css">
</head>

<body>
    <div class="nav">
        <img class="logo-img" src="/assets/STCET-Logo.png" alt="Logo Image">
        <h1 class="logo-txt">St. Thomas' College of Engineering & Technology</h1>
    </div>
    <div class="navbar">
        <a href="/home">Dashboard</a>
        <a href="/home">Attendance</a>
        <a href="/home/report">Reports</a>
        <a href="">Change Password</a>
        <!-- <button>Logout<i class="fa fa-sign-out"></i></button> -->
        <a id="logout" href="/logout">Logout<i class="fa fa-sign-out"></i></a>
    </div>

    <!-- end of navbar -->

    <div class="change-password">
        <div class="heading">
            <h1>Change Password</h1>
        </div>

        <div class="form">
            <label for="new-password">Currrent Password</label>
            <input type="text" name="new-password" id="new-password">
            <br>
            <label for="new-password">New Password</label>
            <input type="password" name="new-password" id="new-password">

            <button>Change Password</button>

        </div>

    </div>

</body>

</html>