<div class="sidenav">
    <a href=""><button class="favorite styled"
        type="button">
    Home
</button></a>
    <a href="/book"><button class="favorite styled"
        type="button">
    Books
</button></a>
    <a href="/student"><button class="favorite styled"
        type="button">
    Students
</button></a>
    <a href="/admin"><button class="favorite styled"
        type="button">
    Admin 
</button></a>
    <a href="/publisher"><button class="favorite styled"
        type="button">
    Publisher
</button></a>
    <a href="/author"><button class="favorite styled"
        type="button">
    Author
</button></a>
</div>
