<div class="sidenav">
    <a href=""><button class="favorite styled"
        type="button">
    Home
<!--</button></a>
    <a href="/branch"><button class="favorite styled"
        type="button">
    Branch-->
</button></a>
    <a href="/student"><button class="favorite styled"
        type="button">
    Students
</button></a>
    <a href="/admin"><button class="favorite styled"
        type="button">
    Admin 
</button></a>
    <a href="/teacher"><button class="favorite styled"
        type="button">
    Teacher
</button></a>
    <a href="/subject"><button class="favorite styled"
        type="button">
    Subject
</button></a>

</div>
