<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Text Center</title>
        <style type="text/css">
            body{
                padding: 0;
                margin: 0;
                background: #1a1502;
            }
            h1{
                font-size: 2em;
                margin: 0;
                padding: 0;
                text-align: center;
                font-family: 'Times New Roman';
                position: absolute;
                top: 26%;
                left: 20%;
            }
        </style>
    </head>
    <body>
        <h1>Subject Component</h1>
    </body>
</html>

<h2 *ngIf="subjects.length<1">No Data</h2>
<div style= "padding-left: 50%;margin: 13%; float:right">
    <button class="button" (click)="addSubject()"> 
    Add subject</button>
  </div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>SubjectCode</th>
            <th>SubjectName</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let x of subjects">
            <td>{{x.subjectId}}</td>
            <td>{{x.subjectCode}}</td>
            <td>{{x.subjectName}}</td>
            <td>
                <button (click)="deleteSubject(x.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

