<div style="padding-left: 120px;padding-top: 120px; padding-left: 15px;">
    <h1>Add Books</h1>
    <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
        <div>
            <label>Title </label>
            <input type="text" formControlName="title" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Author Name </label>
            <input type="text" formControlName="author" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Isbn No </label>
            <input type="number" formControlName="isbn" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Publication Date </label>
            <input type="date" formControlName="publicationDate" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>	Publisher Name </label>
            <input type="text" formControlName="publisher" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>No of Copies </label>
            <input type="number" formControlName="copies" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Category </label>
            <input type="text" formControlName="category" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Genre </label>
            <input type="text" formControlName="genre" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>SubGenre </label>
            <input type="text" formControlName="subgenre" style="padding: 10px; margin: 10px">
        </div>

        <div *ngIf="bookForm.valid">
            <input type="submit" value="Save Book" class = "btn" style="padding: 10px; margin: 10px">
        </div>
    </form>
</div>
<h3> Form status: {{bookForm.valid}}</h3>
