<div style="padding-left: 120px;padding-top: 120px; padding-left: 15px;">
    <h1>Add Students</h1>
    <form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
        <div>
            <label>Name </label>
            <input type="text" formControlName="name" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Department </label>
            <input type="text" formControlName="department" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Roll Number </label>
            <input type="number" formControlName="rollNumber" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Birth Date </label>
            <input type="date" formControlName="birthDate" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Mobile Number </label>
            <input type="number" formControlName="mobileNumber" style="padding: 10px; margin: 10px">
        </div>

        <div *ngIf="studentForm.valid">
            <input type="submit" value="Save Student" class = "btn" style="padding: 10px; margin: 10px">
        </div>
    </form>
</div>
<h3> Form status: {{studentForm.valid}}</h3>

