<div style="padding-left: 120px;padding-top: 120px; padding-left: 15px;">
    <h1>Add Students</h1>
    <form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
        <div>
            <label>RollNo </label>
            <input type="text" formControlName="rollNo" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>StudentName </label>
            <input type="text" formControlName="studentName" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Batch </label>
            <input type="number" formControlName="batch" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>Semester </label>
            <input type="number" formControlName="semester" style="padding: 10px; margin: 10px">
        </div>

        <div>
            <label>BranchId </label>
            <input type="number" formControlName="branchId" style="padding: 10px; margin: 10px">
        </div>

        <div *ngIf="studentForm.valid">
            <input type="submit" value="Save Student" class = "btn" style="padding: 10px; margin: 10px">
        </div>
    </form>
</div>
<h3> Form status: {{studentForm.valid}}</h3>

