<div class="upnav">
    <div>
        <img src="../../assets/logo_stcet.jpg" style="width:100px;height:100px;padding-left: 20px;margin: 10px">
    </div>
    <!-- <div>
        <img src="../../assets/book.gif" style="width:100px;height:100px;float: right">
    </div> -->
    <style>
        #b1
        {
            color: #ffffff;
            font-size: 2em;
            width: 33.33%;
            margin: 0 auto;
            position: absolute;
            top: 18%;
            left: 35%;
        }
        #b2
        {
            color: white;
            font-size: 20px;
            width: 120%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 34%;
        }
        #b3
        {
            color: white;
            font-size: 1em;
            width: 33.33%;
            margin: 0 auto;
            position: absolute;
            top: 70%;
            left: 37%;
        }
    </style>
    <div id="b1">Library Management System</div>
    <div id="b2">St.Thomas' College of Engineering & Technology</div>
    <div id="b3">Department of Computer Science & Technology</div>
    
</div>
