<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Text Center</title>
        <style type="text/css">
            body{
                padding: 0;
                margin: 0;
                background: #1a1502;
            }
            h1{
                font-size: 2em;
                margin: 0;
                padding: 0;
                text-align: center;
                font-family: 'Times New Roman';
                position: absolute;
                top: 26%;
                left: 20%;
            }
        </style>
    </head>
    <body>
        <h1>Student Component</h1>
    </body>
</html>

<h2 *ngIf="students.length<1">No Data</h2>
<div style= "margin: 13%; float:right">
    <button class="button" (click)="addStudent()"> 
    Add Student</button>
  </div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department</th>
            <th>RollNumber</th>
            <th>BirthDate</th>
            <th>MobileNumber</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let x of students">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.department}}</td>
            <td>{{x.rollNumber}}</td>
            <td>{{x.birthDate}}</td>
            <td>{{x.mobileNumber}}</td>
            <td>
                <button (click)="deleteStudent(x.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>




