*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background:url("/assets/stcet-bg.png");
}

.nav{
    display: flex;
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: rgb(64, 102, 192);
    color: white;
}
.nav .logo-img{
    margin-top: 20px;
    height: 120px;
    width: 175px;
    padding: 10px 20px;
    cursor: pointer;
}
.nav .logo-txt{
    font-size: 30px;
    margin-top: 80px;
    margin-left: 50px;
    user-select: none;
}
.navbar{
    background-color: rgb(212, 212, 212);
    height: 35px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.navbar a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    height: 28px;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: 20px;
    color: black;
    font-weight: lighter;
    border-radius: 10px;
    background-color: white;
}

.navbar a:hover{
    color: rgb(64, 102, 192);
    border: 1px solid black;
}

.navbar #logout{
    margin-left: 700px;
    margin-top: 3px;
    padding: 0.5rem;
    height: 28px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}
.navbar #logout:hover {
    background-color: rgb(234, 234, 234);
    border: 1px solid black;
}

.class-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    background-color: rgb(234, 234, 234);
    width: 60%;
    margin-left: 20%;
    box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(64, 102, 192);
}

.class-detail .heading {
    height: 30px;
    font-size: 10px;
    background-color: white;
    margin: 10px;
    margin-top: 0;
    width: 100%;
}

.class-detail .heading h1 {
    color: rgb(64, 102, 192);
    margin-left: 2rem;
    margin-top: 5px;
}

.class-detail .form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.class-detail .form label{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 800;
}

.class-detail .form select,input{
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 800;
}

.class-detail .form button{
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: medium;
    height: 35px;
    width: 200px;
    padding: 5px;
    background-color: rgb(64, 102, 192);
    color: white;
    transition: 0.5s ease-out;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.class-detail .form button:hover{
    background-color: rgb(21, 171, 34);
    color: white;
    transition: 0.25s ease-in;
}

.form-group{
    margin-top: 1rem;
}